body {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 25vw;
  justify-content: center;

  background-color: black;

  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div {
  cursor: pointer;
}

.circle {
  animation: circle 1.5s ease infinite alternate;

  border: 5px solid #0059ff;
  border-radius: 100%;

  box-shadow: 0px 0px 50px 5px #0059ff, 0px 0px 0px 5px #0059ff;

  width: 10vw;
  height: 10vw;
}

.circle-red {
  animation: circle-red 1.5s ease infinite alternate;

  border: 5px solid red;
  border-radius: 100%;

  box-shadow: 0px 0px 50px 5px red, 0px 0px 0px 5px red;

  width: 10vw;
  height: 10vw;
}

@keyframes circle {
  0% {
    box-shadow: 0px 0px 125px 5px #0059ff, 0px 0px 0px 25px #0059ff77;
  }

  100% {
    box-shadow: 0px 0px 25px 5px #0059ff, 0px 0px 0px 12.5px #0059ff77;
  }
}

@keyframes circle-red {
  0% {
    box-shadow: 0px 0px 125px 5px red, 0px 0px 0px 25px #ff000077;
  }

  100% {
    box-shadow: 0px 0px 25px 5px red, 0px 0px 0px 12.5px #ff000077;
  }
}